@media screen and (max-width: 1400px) {
    .player {
      height: 83vh;
      margin-bottom: 6rem;
    }
    
  }
  @media screen and (max-width: 1400px) {
    .wrapper {
      height: 83vh;
      margin-bottom: 6rem;
    }
    
  }
@media screen and (max-width: 1400px) {
    body {
      height: 83vh;
      margin-bottom: 6rem;
    }
    
  }
  
  @media screen and (max-width: 1200px) {
    #wrapper {
      display: none;
    }
    
}